@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System;
@using System.Data.SqlClient;
@{
    // this calls 'model' from MethodsController
    @model List<EmployeeDirectory.Models.EmployeeModel>

    <h1>Employee Details</h1>

    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search Employee..." name="search">
            <button type="submit" asp-area="" asp-controller="Methods" asp-action="Delete">Submit</button>
        </form>
    </div>

    <table border="1" width="100%">
        <tr>
            <th>Employee ID </th>
            <th>Employee Name </th>
            <th>Job Title </th>
            <th>Workplace </th>
            <th>Email </th>
            <th>Phone Number </th>
        </tr>
        @foreach (var employeeDetails in Model)
        {
            // this calls 'employeeDetails' from MethodsController
            <tr>
                <td>@employeeDetails.EmployeeID</td>
                <td>@employeeDetails.EmployeeName</td>
                <td>@employeeDetails.JobTitle</td>
                <td>@employeeDetails.WorkPlace</td>
                <td>@employeeDetails.Email</td>
                <td>@employeeDetails.PhoneNumber</td>
            </tr>
        }
    </table>
}
