@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System;
@using System.Data.SqlClient;
@{
    // this calls 'model' from MethodsController
    @model List<EmployeeDirectory.Models.EmployeeModel>

    <h1>Employee Details</h1>

    <br />

    <div class="search-container">
        <form>
            <input type="text" placeholder="Search Employee..." name="search">
            <button type="submit" asp-area="" asp-controller="Methods" asp-action="Select">Submit</button>
        </form>
    </div>

    <br />

    <table border="1" width="100%">
        <tr>
            <th>Employee ID </th>
            <th>Employee Name </th>
            <th>Job Title </th>
            <th>Workplace </th>
            <th>Email </th>
            <th>Phone Number </th>
        </tr>
        @foreach (var employeeDetails in Model)
        {
            // this calls 'employeeDetails' from MethodsController
            <tr>
                <td>@employeeDetails.EmployeeID</td>
                <td>@employeeDetails.EmployeeName</td>
                <td>@employeeDetails.JobTitle</td>
                <td>@employeeDetails.WorkPlace</td>
                <td>@employeeDetails.Email</td>
                <td>@employeeDetails.PhoneNumber</td>
                <td>@Html.ActionLink("Delete", "Delete", new { EmployeeID = employeeDetails.EmployeeID })</td>
                <td>@Html.ActionLink("Update", "Update")</td>

            </tr>
        }
    </table>

    <br />
    
    <h3>Add Employee</h3>
    <form action="/Methods/Insert" method="post">
        <table border="1" height="300" width="300">
            <tr>
                <td>Employee ID: </td>
                <td><input type="text" name="EmployeeID" /></td>
            </tr>
            <tr>
                <td>Employee Name: </td>
                <td><input type="text" name="EmployeeName" /></td>
            </tr>
            <tr>
                <td>Job Title</td>
                <td><input type="text" name="JobTitle" /></td>
            </tr>
            <tr>
                <td>Work Place: </td>
                <td><input type="text" name="WorkPlace" /></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="Email" /></td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td><input type="text" name="PhoneNumber" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>

}


